<!DOCTYPE html>
<html>
<head>
  <title>Order Details</title>
</head>
<body>
  <h1>Order Details for Order ID: <%= order._id %></h1>
  <p>Table ID: <%= order.tableId._id %></p>
  <p>Order Date: <%= order.orderDate %></p>
  <h2>Ordered Items:</h2>
  <ul>
    <% order.orderedItems.forEach(item => { %>
      <li>
        Dish Name: <%= item.dishName %><br>
        Quantity: <%= item.quantity %><br>
        Price: <%= item.price %><br>
        Status: <%= item.status %><br>
        Payment Status: <%= item.paymentStatus %><br>
        Total Amount: <%= item.totalAmount %>
      </li>
    <% }); %>
  </ul>
</body>
</html>
